<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="flex-layout">
        <div class="right-content">
            <h1>Bienvenue Chez Apeiron</h1>
            <p>Le but de ce site web est de simplifier la gestion des congés en offrant une plateforme 
                intuitive où les employeurs et les employés peuvent communiquer efficacement, 
                soumettre, approuver et suivre les demandes de congé, tout en optimisant l'organisation des plannings. </p>
        
                <div class="btn">
                    <a href="/auth/login" class="button-link">Se Connecter</a>
                    <a href="/auth/signup" class="button-link">Créer un nouveau compte</a>
                </div>
                
        </div>
        <div class="left-content">

        </div>
    </div>
    
</body>
</html>
